

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

body{
    font-family: 'Playfair Display', serif;;
}

:root{
    --primary:#396dff;
}

.navtitle{
    color: #396dff;
    font-size: 20px;
    margin:0;
    font-weight: normal;

}

.navContainer{
    background-color: blanchedalmond;
}

.u-txtcenter{
    text-align: center;

}